.recipe-name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.recipe-img {
    width: 500px;
    height: auto;
}

.recipe-description{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}